.btn {
  display: block;
  background-color: green;
  width: 200px;
  margin: 0 10px 20px;
  font-size: 2rem;
  color: white;
  border-radius: 10px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
