// Navigation Styles here
@import 'variables';

nav {
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width: 100%;
    border-bottom: 2px dashed @navigation-border;
    justify-content: flex-end;
    // margin-left: 5%;

    a {
        font-family: 'Roboto', sans-serif;
        font-size: 1.8rem;
        text-decoration: none;
        width: 10%;
        text-align: center;
    }

    .funbus {
        // flex-grow: 10;
        width: 60%;
    }
}
