nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  text-decoration: none;
  width: 20%;
}
nav h1 {
  flex-grow: 1;
}
